@use postcss-preset-env {
  stage: 0;
}

:root {
  --color-background: #000119;
  --stroke-width: calc(1em / 16);
  --font-size: 5vmin;
  --font-weight: 700;
  --letter-spacing: calc(1em / 8);
}

* {
  box-sizing: border-box;
}

.button {
  padding: 5px 15px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #008cba;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #e7e7e7;
  width: 95%;
  margin: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.button:hover {
  background-color: #0094d9;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.button:active {
  transform: translateY(2px);
  background-color: #00b4f4;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.8);
}

.file {
  display: none;
}

.button-small {
  width: 80px;
  height: 32px;
  font-size: 18px;
  padding: 0px;
  margin: 5px;
  margin-top: 2px;
  margin-left: 20px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #6771ff;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #e7e7e7;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.button-small:hover {
  background-color: #7780ff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.button-small:active {
  transform: translateY(2px);
  background-color: #535bcb;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.8);
}

img {
  background-color: #555;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

body {
  font-family: sans-serif;
  background-color: var(--color-background);
  height: 100%;
}

#container {
  overflow: hidden;
  height: 97vh;
  /*clear: both;*/
}

.content-container {
  height: 100vh;
}

#header {
  width: 100%;
  text-align: center;
  float: left;

  background-color: #fff0d9;
  /*clear: both;*/
}

#pagebody {
  padding-bottom: 100000px;
  margin-bottom: -100000px;
}

#sidebar {
  width: 24%;
  height: 100vh;
  background-color: white;
  float: left;
  margin: 5px;
  /*clear: both;*/
}

#mainbody {
  width: 75%;
  height: 100vh;
  background-color: white;
  float: left;
}

#footer {
  width: 100%;
  background-color: #8fbc8f;
  text-align: left;
  font-size: 14px;
  float: inherit;
}

#txtCodeArea {
  width: 100%;
  overflow: scroll;
  background-color: white;
  float: left;
  padding: 5px;
  font-size: 16px;
  border-style: ridge;
  height: 34vh;
  .selector {
    border-color: #ff7f50;
  }
}

#txtCodeResult {
  width: 100%;
  overflow: scroll;
  background-color: white;
  float: left;
  padding: 5px;
  border-style: ridge;
  height: 28vh;
  .selector {
    border: 1px solid #ff7f50;
  }
}

.txtParam {
  width: 100%;
  height: 63vh;
  overflow: scroll;
  background-color: white;
  float: left;
  padding: 5px;
  font-size: 16px;
  border-style: ridge;
  .selector {
    border: 1px solid #6495ed;
  }
}

.txtNote {
  width: 100%;
  background-color: #fff8dc;
  float: left;
  padding: 5px;
  font-size: 14px;
  font-weight: bold;
  border-style: solid;
  border-width: 1px;
}

.display1 {
  background-clip: text;
  background-image: linear-gradient(
    to right,
    #09f1b8,
    #00a2ff,
    #ff00d2,
    #e6edfd
  );
  color: var(--color-background);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  letter-spacing: var(--letter-spacing);
  padding: calc(--stroke-width / 2);
  -webkit-text-stroke-color: transparent;
  -webkit-text-stroke-width: var(--stroke-width);
}

.pnlBox {
  width: 100%;
  float: left;
  padding: 5px;
  font-size: 14px;
  font-weight: bold;
  border-style: solid;
  border-width: 1px;
}

.txtNum {
  width: 25%;
  height: 30px;
  padding: 5px;
  font-size: 14px;
  font-weight: bold;
  border-style: solid;
  border-width: 1px;
}

.txtStep {
  width: 10%;
  height: 30px;
  padding: 5px;
  font-size: 14px;
  font-weight: bold;
  border-style: solid;
  border-width: 1px;
}
