body {
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 14px;
    }


h1 {
    fill: #2d634d;
    font-weight: 900;
    margin: 0px;
    padding: 0px;
}
h3 {
    fill: #2d634d;
    font-weight: 700;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 16px;
}

button{
    background-color: #42b8fc;
    border: none;
    color: white;
    padding: 4px 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 120px;
    height: 48px;
    padding: 2px;
    font: 11px sans-serif;
    background: rgb(204, 209, 228);
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}