body {
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 14px;
    }


h1 {
    fill: #2d634d;
    font-weight: 900;
}

div.tooltip {	
    position: absolute;			
    text-align: center;			
    width: 120px;					
    height: 48px;					
    padding: 2px;				
    font: 11px sans-serif;		
    background: rgb(204, 209, 228);	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}